.main{
   background-color: rgb(2, 255, 255);
   position: relative;
 

}

.hero {
    position: absolute;
    text-align: center;
   left:8%;
   top: 5%;

   font-family: 'Chakra Petch', sans-serif;
   color: white;
   font-size:4vw;
}